/* ignore the errors, vscode is stupid */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar: Chromium */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-br from-iris-70 to-fuschia-90 drop-shadow-lg;
}

/* Scrollbar: Firefox */
* {
  scrollbar-color: #6a99dd #e5e7eb;
  scrollbar-width: thin;
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply font-inter text-primary bg-hero-pattern bg-center bg-contain;
}


/* Gradient */
.gradient-primary {
  @apply bg-gradient-to-br from-deepFuscia to-pinkRed;
}

.gradient-secondary {
  @apply bg-gradient-to-br from-iris-70 via-iris-80 to-fuschia-90;
}

.gradient-tertiary {
  @apply bg-gradient-to-bl from-cornflowerBlue to-pinkRed;
}

.animate-gradient {
  background-size: 250% 250%;
  -webkit-animation: loop 4s ease infinite;
  -moz-animation: loop 4s ease infinite;
  -o-animation: loop 4s ease infinite;
  animation: loop 4s ease infinite;
}

@-webkit-keyframes loop {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}
@-moz-keyframes loop {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}
@-o-keyframes loop {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}
@keyframes loop {
  0%{background-position:31% 0%}
  50%{background-position:70% 100%}
  100%{background-position:31% 0%}
}

/* Miscellaneous */
.hero {
  @apply bg-hero-pattern bg-center bg-no-repeat bg-cover;
}

.logo {
  @apply font-bold tracking-tightest md:text-8xl text-7xl  !important;
}

/* Sidebar link color */
#sidebar-links a svg path {
  fill: url(#secondaryGradient);
}

.spaced-line {
  line-height: 1.625 !important;
}

.top-shadow {
  --tw-shadow: 0 -15px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.video {
  @apply rounded-lg shadow-xl;
}
