/* ignore the errors, vscode is stupid */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar: Chromium */
::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-br from-iris-70 to-fuschia-90 drop-shadow-lg;
}

/* Scrollbar: Firefox */
* {
  scrollbar-color: #6A99DD #E5E7EB;
  scrollbar-width: thin;
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply font-inter text-primary;
}

/* Gradient */
.gradient-primary {
  @apply bg-gradient-to-br from-deepFuscia to-pinkRed;
}

.gradient-secondary {
  @apply bg-gradient-to-br from-iris-70 via-iris-80 to-fuschia-90;
}

.gradient-tertiary {
  @apply bg-gradient-to-bl from-cornflowerBlue to-pinkRed;
}

/* Miscellaneous */
.hero {
  @apply bg-hero-pattern bg-center bg-no-repeat bg-cover;
}

.logo {
  @apply font-bold tracking-tightest md:text-8xl sm:text-7xl text-6xl !important;
}

/* Sidebar link color */
#sidebar-links a svg path {
  fill: url(#secondaryGradient);
}