/* ignore the errors, vscode is stupid */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Spartan:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-inter text-primary;
}

/* Gradient */
.gradient-primary {
  @apply bg-gradient-to-br from-deepFuscia to-pinkRed;
}

.gradient-secondary {
  @apply bg-gradient-to-br from-iris-70 to-fuschia-90;
}

.gradient-tertiary {
  @apply bg-gradient-to-bl from-cornflowerBlue to-pinkRed;
}

/* Miscellaneous */
.hero {
  @apply bg-hero-pattern bg-center bg-no-repeat bg-cover;
}

.logo {
  @apply font-bold tracking-tightest text-8xl;
}
