@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body{
  @apply font-inter antialiased  text-black bg-white text-base dark:text-[#f9f9f9] dark:bg-[#181a1b];
  font-feature-settings: "calt" on;
}

::-moz-selection { /* Code for Firefox */
  @apply bg-pinkRed/30 ;
}

::selection {
  @apply bg-pinkRed/30;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: rgb(0, 0, 0);
}

[data-theme='dark'] {
  --background: #181a1b;
  --foreground: #f9f9f9;
}


.gradient-primary {
  @apply bg-gradient-to-br from-pinkRed to-deepFuscia;
}

.gradient-secondary {
  @apply bg-gradient-to-br from-iris-70 via-iris-80 to-fuschia-90;
}

.gradient-tertiary {
  @apply bg-gradient-to-bl from-cornflowerBlue to-pinkRed;
}


.button{
	@apply inline-block rounded-full bg-pinkRed hover:bg-[#ff2277] px-10 duration-100 transition lg:px-12 py-2 xs:py-3 text-sm xxs:text-base lg:text-lg font-bold text-white shadow;
}


.button-small{
	@apply inline-block rounded-full bg-pinkRed hover:bg-[#ff2277] px-10 duration-100 transition lg:px-12 py-2 text-xs xxs:text-sm font-bold text-white shadow;
}


ul >li{
@apply my-2;
}


.animation-flicker{
  animation: flicker 3s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {

    opacity: .99;

	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}
@media (min-width: 768px) {
  #blog-feed > div:first-child {
      grid-column: span 4;
  }
}
